.navbar {
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    display: flex;
    padding: 16px 20px;
}

.logo-container {
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
}

.logo {
    aspect-ratio: 1;
    object-fit: contain;
    width: 48px;
    max-width: 48px;
}

.logo-text {
    color: #000;
    font: 600 25px/38px Roboto, sans-serif;
}

.nav-links {
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: var(--Black, #000);
    font: 400 16px/24px Roboto, sans-serif;
}
a:hover{
    text-decoration: underline;
}

.login-btn {
    width: fit-content;
    color: var(--White, #fff);
    border: 1px solid var(--Black, #000);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #000;
    padding: 8px 20px;
    font: 400 16px/24px Roboto, sans-serif;
    cursor: pointer;
}
.login-btn:hover{
    color: black;
    background-color: white;
    text-decoration: none;
}

@media (max-width: 991px) {
    .navbar {
    flex-direction: column;
    align-items: center;
    }

    .logo-container {
    margin-bottom: 16px;
    }

    .nav-links {
    justify-content: center;
    margin-bottom: 16px;
    }
}
